.mobileApp {
  text-align: center;
}

.mobileApp__box:first-of-type {
  margin-bottom: 4.8rem;
  display: flex;
  position: relative;
  animation: left_to_right 1s ease-out;
}

.mobileApp__box:last-of-type {
  position: relative;
  animation: right_to_left 1s ease-out;
}

.mobileApp__description {
  margin: 1.6rem 0 4.8rem 0;
  letter-spacing: 0.05rem;
  line-height: 200%;
}

.mobileApp__list {
  margin: 4.8rem 0;
}

.mobileApp__item {
  display: flex;
  align-items: center;
}

.mobileApp__item:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

.mobileApp__list_label {
  margin-left: 2.4rem;
}

.mobileApp__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1.6rem;
}

.mobileApp__button {
  border: 0.1rem solid rgba(255, 255, 255, 0.25);
  padding: 1.2rem 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mobileApp__button:not(:last-of-type) {
  margin-right: 1.6rem;
  margin-bottom: 0.8rem;
}

.mobileApp__button_label {
  text-transform: uppercase;
  margin-left: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.mobileApp__note {
  text-align: left;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .mobileApp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
  }

  .mobileApp__box {
    width: calc(50% - 1.6rem);
  }

  .mobileApp__box:first-of-type {
    margin-bottom: 0;
    margin-right: 3.2rem;
  }

  .mobileApp__description {
    margin-top: 3.2rem;
  }
}

@media (min-width: 1280px) {
  .mobileApp__box {
    width: calc(50% - 4.8rem);
  }

  .mobileApp__box:first-of-type {
    margin-right: 9.6rem;
  }
}

@keyframes left_to_right {
  from {
    left: -50%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes right_to_left {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
